{% extends 'base.html.twig' %}

{% set browsePageActive = true %}

{% block content %}
    <div class="row mt-3 g-3 align-items-center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Hash</th>
                    <th scope="col">Url</th>
                    <th scope="col">Date Expire</th>
                    <th scope="col">User Id</th>
                    <th scope="col">Count</th>
                </tr>
            </thead>
            <tbody>
            {% for minimizeUrl in minimizesUrls %}
                <tr>
                    <th scope="row">{{ minimizeUrl.minimizedUrlId }}</th>
                    <td>
                        <a
                            href="{{ path("redirect_index", {'hash': minimizeUrl.hash}) }}"
                            target="_blank"
                        >
                            {{ minimizeUrl.hash }}
                        </a>
                    </td>
                    <td>
                        <a
                            href="{{ minimizeUrl.url }}"
                            target="_blank"
                        >
                            {{ minimizeUrl.url }}
                        </a>
                    </td>
                    <td>{{ minimizeUrl.dateExpire }}</td>
                    <td>{{ minimizeUrl.userId }}</td>
                    <td>{{ minimizeUrl.count }}</td>
                </tr>
            {% endfor  %}
            </tbody>
        </table>
    </div>
{% endblock %}