{% extends 'base.html.twig' %}

{% set createPageActive = true %}

{% block content %}
    <div class="row g-3 align-items-center">
        <h1>Url minimizer</h1>
        <p>A URL minimizer built with powerful tools to help you to minimize of urls.</p>
    </div>

    {{ form_start(form, {'action': path('minimize_url_save')}) }}
        <div class="form-group mt-3">
            {{ form_widget(form.url, {'attr': {
                'class': 'form-control',
                'placeholder': 'Please enter your url for minimization'
            }}) }}
        </div>

        <div class="form-group col-4 mt-3">
            {{ form_widget(form.date_expire, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group mt-3">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
    {{ form_end(form) }}

    <div class="form-group">
        {% for minimizeUrl in minimizesUrls %}
            <div class="flash-error">
                <div>{{ minimizeUrl.count }}</div>
                <div>
                    <a href="{{ minimizeUrl.hash }}" target="_blank">
                        http://minimize.dev/{{ minimizeUrl.hash }}
                    </a>
                </div>
                <br/>
            </div>
        {% endfor %}
    </div>
{% endblock %}