<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link
                rel="icon"
                href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"
        >
        <link
                href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
                rel="stylesheet"
                integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
                crossorigin="anonymous"
        >
        <script
                src="https://code.jquery.com/jquery-3.6.4.slim.js"
                integrity="sha256-dWvV84T6BhzO4vG6gWhsWVKVoa4lVmLnpBOZh/CAHU4="
                crossorigin="anonymous"></script>

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a
                        class="nav-link {{ createPageActive|default(false) ? 'active': '' }}"
                        aria-current="page"
                        href="{{ path('home') }}"
                    >
                        Create
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link {{ browsePageActive|default(false) ? 'active': '' }}"
                        href="{{ path('minimize_url_browse') }}"
                    >
                        Browse
                    </a>
                </li>
            </ul>
        </div>

        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
